body{
    margin: 0 0;
}
.container{
    min-height: 800px;
    background-image: url("joakim-honkasalo-DurC25GdOvk-unsplash.jpg");

    
    
     background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */



    background-size: cover;
     position: relative;  

}
.box{
    height: 200px;
    width: 1400px;
    background-color: aqua;

}
h1{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik Burned', system-ui;

}
a{
    text-decoration:dotted;
}
